@import '../../core/global/mixins.scss';

.container-fluid {
  padding: 0;
  overflow: hidden;
}

//*****************HOME*****************

.home {
  height: 100vh;
  background: url('../../assets/img/bg-marvel.jpg');
}

.home--card-body-title {
  width: 55vw;
  padding: 2rem;
  text-align: center;
  border: 5px solid #FFFFFF;

  @include small {
    width: 75vw;
    padding: 1.5rem;
  }
}

.home--card-title {
  width: 60vw;
  padding: 2rem;
  text-align: center;
  border: 5px solid #FFFFFF;
  z-index: 100;

  @include small {
    width: 90vw;
    padding: 1.5rem;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  cursor: pointer;
}

.title--card {
  font-weight: bold;
  color: white;
  font-size: 7rem;
  letter-spacing: 5px;

  @include small {
    font-size: 4rem;
  }
}

.parallax {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: grid !important;
  place-content: center !important;
  position: relative !important;
}

//*****************COMICS*****************
.bg--title-comics {
  width: fit-content;
  background: var(--primary-color);
  position: relative;
  display: block;
  margin: 0 auto;
}

.button--comics {
  letter-spacing: 1.5px;
  display: block;
  margin: 0 auto;

  h5 {
    margin-bottom: 0;
  }
}

.comics {
  position: relative;
  z-index: 100;
  background-color: var(--second-color);
}

.card--comics {
  padding: 1.5rem;
  border: none;
  cursor: pointer;
  background: transparent;

  &:hover {
    img {
      filter: drop-shadow(5px 5px 20px var(--primary-color)) invert(10%)
    }
  }
}

.comics-col-6 {
  height: 60vh;
}

.title--comics {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 4.5rem;
  letter-spacing: 1px;
  color: white;
}

// ****************SPIDERMAN-STATEMENT****************

.spiderman-statement {
  height: 60vh;
  background: url('../../assets/img/bg-spiderman.jpeg');

  @include small {
    text-align: center;
  }
}

.overlay-spiderman {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  cursor: pointer;
}

.statement-size {
  font-size: 4rem;
  color: var(--primary-color);
  z-index: 100;
}

// ****************CHARACTERS****************

.bg--title-characters {
  width: fit-content;
  background: var(--second-color);
  position: relative;
  display: block;
  margin: 0 auto;
}

.button--characters {
  letter-spacing: 1.5px;
}

.characters {
  min-height: 100vh;
  background-color: var(--primary-color);

  .row {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.title--characters {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 4.5rem;
  letter-spacing: 1px;
  color: white;
}
