@import '../../../core/global/mixins.scss';

a {
  display: block;
  margin: 0 auto;
  width: 12rem;
  margin-top: 1rem;

  h4 {
    margin-bottom: 0;
  }
}

.character--row {
  padding: 4rem !important;

  @include small {
    padding: 1.5rem !important;
  }
}

.container-fluid {
  background: var(--primary-color) !important;
  min-height: 100vh;
  color: white;

  .potrait {
    height: 100%;
    border-radius: .5rem;
  }
}

.character--comics {
  height: 25vh;
  overflow: auto;
}

.title--character {
  font-size: 4rem;

  @include small {
    margin-top: 2rem;
  }
}

.mr-2 {
  margin-right: .5rem;
  margin-top: .5rem;
}
